/*
You will style your page using at least 10 CSS selectors for general CSS styling. You will place the CSS in its own file. 
*/

.hidden {
  display: none;
}

.is-prime{
  color: #00ff00;
}

.not-prime{
  color: #ff0000;
}

#error{
  color: rgb(183, 0, 255)
}
main {
  background: rgb(0, 204, 255)4, 254, 254, 0.199;
  font-family: Calibri,  Helvetica, sans-serif, Times;
  font-size: 15pt;
}

main {
  max-width: 80%;
  margin: auto;
}

footer {
  max-width: 80%;
  margin: auto;
}

header {
  border-bottom: 2px solid #00ffd5;
}

form{
  background-color: bisque;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #05eeff;
  margin-bottom: 5px;
}

h1 {
  font-size: 3rem;
}

li{
  font-size: 3rem;
}

p {
  font-size: 2rem;
  line-height: 2;
}

footer p{
  font-size: 1rem;
  background-color: bisque;
  color: rgb(116, 8, 80)
}